body {
  font-family: monospace;
  font-size: 0.9em;
  background-image: url('../images/paper.png');
  background-repeat: repeat;
  color: #666666;
  line-height:125%;
}

/* unvisited link */
a:link, a:visited, a:active, a:hover {
  color: #000;
  text-decoration: none;
}

a.page-link:link, a.page-link:visited, a.page-link:active {
  font-weight: bold;
  color: #C00;
  text-decoration: none;
  text-transform: lowercase;
}

a.page-link:hover {
  border-bottom: 4px solid #C00;
}

.sub {
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 0.9em;
  color: #000;
}

h1 {
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: bold;
}

h2 {
  text-decoration: underline;
  font-weight: bold;
}

h3 {
  font-weight: bold;
}

.container {
  margin: 0 auto;
  padding: 4em 4em;
  max-width: 400px;
}

.header {
  text-align: center;
  margin: 80px 40px;
}

.header > h1 {
  letter-spacing: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  text-shadow: 1px 0px 0px #444;
}

.header > a:link, .header > a:hover, .header > a:visited, .header > a:active {
  border-bottom: none;
  color: #000;
}

.navlist {
  padding-left: 0px;
  padding-top: 0px;
  margin-bottom: 20px;
}

.navlist > li {
  display: inline;
  list-style-type: none;
  padding-right: 10px;
}

.posts {
  padding-left: 0px;
}

.posts > li {
  list-style-type: none;
}

.highlight {
  padding: 10px 20px;
  background-color: #333;
}

footer {
  padding-top: 80px;
  text-align: center;
}

.meta {
  font-weight: bold;
  color: #000;

}
