---
layout: default
title: Home
---

<div class="home">

  <ul class="posts">
    {% for post in paginator.posts %}
    <li>
      <h1 >{{ post.title }}</h1>
      <span>{{ post.date | date: "%b %-d, %Y" }}</span>
      {{ post.excerpt }}
      <div style="text-align: center;">
        <a href="{{ post.url | prepend: site.baseurl }}">&bull;&bull;&bull;</a>
      </div>
    </li>
    {% endfor %}
  </ul>

  <div class="pagination">
    {% if paginator.previous_page %}
      <a class="page-link" href="/page{{ paginator.previous_page }}">prv</a>
    {% else %}
      <span class="page-link">prv</span>
    {% endif %}
    {% if paginator.next_page %}
      <a class="page-link" href="/page{{ paginator.next_page }}">nxt</a>
    {% else %}
      <span class="page-link">nxt</span>
    {% endif %}

  </div>

</div>
